<div class="jumbotron">
  <h1 class="display-3">Authentication </h1>
  <p class="lead">This is a simple authentication example from scratch.</p>
  <hr class="my-4">
  <p>User authentication systems determine whether a user is who they claim to be. They allow users to sign up, sign in, and sign out. We'll build the app foundation using user authentication system by creating the User model.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
